
.ticket-comments {
    margin: 30px 20px 0 20px;
    width: calc(100% - 40px);
}

div[data-name='ticket_add_comment'] + div[data-name='ticket_add_files'] {
    border-top: none;
}

div[data-name='ticket_add_files'] {
    .acf-repeater {
        border-bottom: 3px solid #eee;
        padding-bottom: 20px;
    }
}

.todo-term-pill {
    display: inline-block;
    padding: .1em .3em;
    border-radius: 3px;
    color: #fff;
    text-shadow: 0 0 1px #000;
    background: #868686;
}

.todo-term-pill + .todo-term-pill {
    margin-left: 3px;
}
